@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700;900&family=Poppins:wght@100;400;500;700;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: aliceblue;
}

nav {
  position: absolute;
  display: flex;
  padding: 3rem 10rem;
  justify-content: space-between;
  width: 100%;
  color: aliceblue;
  font-size: 3rem;
}
.container {
  height: 100vh;
}

.container img {
  position: absolute;
  width: 100%;
  height: 110vh;
  object-fit: cover;
  z-index: -1;
}

.main-title {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 8rem;
  color: white;
  transform: translate(-50%, -40%);
}

.content {
  padding-top: 10rem;
  width: 100%;
  background: black;
  min-height: 100vh;
  z-index: 2;
  position: absolute;
}

.content-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  text-align: center;
}
.content-images img {
  width: 30vw;
}
.content-images p {
  font-size: 4rem;
}
